.navbar-custom .nav li a {
    color: black;
}

.navbar-custom .nav li a:hover {
    color: red;
}

.intro-header {
  background-size: contain;
  background-position: inherit;
  background-color: white;
}

.post-heading 
  h1 {
    color: red;
    text-align: right;
  }
  span {
    color: black;
    text-align: right;
  }

