/* INDEX PAGE */

.post-preview > a:hover,
.post-preview > a:focus {
  color: #128909;
}

/* ABOUT PAGE */

.about.text {
  text-align: center;
}

/*  ADDED FROM LEARN modified clean-blog.css  */

.svg-center {
    display: inline;
    position: relative;
    top: 3px;
}

@font-face {
    font-family: 'glyphterregular';
    src: url('../fonts/glyphter-webfont.eot');
    src: url('../fonts/glyphter-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/glyphter-webfont.woff2') format('woff2'),
         url('../fonts/glyphter-webfont.woff') format('woff'),
         url('../fonts/glyphter-webfont.ttf') format('truetype'),
         url('../fonts/glyphter-webfont.svg#glyphterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.learn-icon {
  position: relative;
  top: 5px;
  display: inline-block;
  font-family: 'glyphterregular';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color:#fff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}